@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i,800&subset=cyrillic')
*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background: #fff

.subtitle
  font: $light 40px $open-sans
  color: #000
  margin: 0 0 40px

.subtitle--white
  color: #fff

.title
  display: flex
  align-items: center
  font: $normal 20px $open-sans
  color: #000
  margin: 40px 0 40px 35px

.team__title
  font: $normal 25px $open-sans
  color: #737373
  text-transform: uppercase
  margin: 60px auto 40px

.calc__title
  font: $normal 20px $open-sans
  color: #000
  text-transform: uppercase
  margin-bottom: 20px