.about-hero
  position: relative
  background: url(~/img/about-bg.png)
  background-size: cover

.about-hero__inner
  max-width: 1375px
  position: relative
  padding: 125px 0
  margin: 0 auto
  text-align: left
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 3px
    background: radial-gradient(circle, rgba(247,148,58,1) 0%, rgba(0,0,0,0) 100%)

.about-hero__text
  font: $light 16px $open-sans
  color: #fff
  max-width: 767px
  margin: 0 auto

.about-team
  max-width: 1375px
  margin: 0 auto 60px
  text-align: center

.team__list


.team__item
  display: inline-block
  margin-right: 70px
  &:last-of-type
    margin-right: 0

.team__photo
  position: relative
  display: flex
  justify-content: center
  align-items: center
  font-size: 130px
  width: 220px
  height: 220px
  border: 5px solid $color-main
  border-radius: 50%
  margin-bottom: 30px
  &:after
    content: ''
    position: absolute
    width: 205px
    height: 205px
    border: 3px solid #d2d2d2
    border-radius: 50%
    background: transparent
  & path
    fill: url(#user-grad)

.team__name,
.team__surname
  font: $normal 22px $open-sans
  color: #000
  text-transform: uppercase

.team__surname
  margin-bottom: 20px

.team__position
  font: $light 16px $open-sans
  color: #737373
  text-transform: uppercase

.about-mission

.mission__ribbon
  background: $color-main
  padding: 20px 0
  margin: 0 auto
  text-align: left

.ribbon__text
  font: $light 16px $open-sans
  color: #fff
  max-width: 767px
  margin: 0 auto

.mission
  display: flex
  align-items: center
  justify-content: center
  max-width: 767px
  margin: 60px auto

.mission__bubble
  flex-shrink: 0
  width: 130px
  text-align: left
  padding-left: 20px
  font-size: 80px
  & svg
    transform: scaleX(-1)

.mission__text
  font: $light 26px $open-sans
  color: #626262
  text-align: left
  text-transform: uppercase