.reviews-page
  background: #fff

.reviews-page__inner
  max-width: 1024px
  margin: 0 auto
  & h1
    margin: 40px 0

.review__item
  padding: 30px 0
  background: #f7f7f7
  &:nth-child(odd)
    background: #fff

.review-item__inner
  display: flex
  align-items: flex-start
  width: 1024px
  margin: 0 auto
  &.review-item__inner--answer
    padding-left: 139px
    margin-top: 40px

.review-item__avatar
  margin-right: 25px

.review-avatar
  display: flex
  justify-content: center
  align-items: center
  font-size: 60px
  width: 114px
  height: 114px
  border: 2px solid $color-main
  border-radius: 50%
  background: #fff
  & path
    fill: url(#user-grad)

.review-item__content
  width: 100%

.review-item__head
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 10px

.review-item__name
  font: italic $normal 15px $open-sans
  color: #a1a1a1
  margin-right: 20px

.review-item__date
  font: italic $normal 15px $open-sans
  color: #d4d4d4

.review-item__text
  & p
    font: $normal 16px $open-sans
    color: #000
    text-align: left

.reviews__pagination
  max-width: 1024px
  margin: 60px auto 100px