.search
  background: #fff
  max-width: 1024px
  margin: 0 auto

.search__inner
  display: flex

.search__filters
  flex-basis: 315px
  margin-right: 40px
  & .search-car
    width: 100%
    margin-bottom: 35px
    & .hero-form__title
      text-transform: uppercase
      margin-bottom: 20px
    & .search-car__auctions
      padding-right: 0
      margin-bottom: 35px
    & .checkbox-label--auctions
      margin-bottom: 5px
    & .search-car__form
      flex-direction: column
  & .delivery-calc
    width: 100%
    margin-bottom: 90px

.search__result
  max-width: 712px


.result__list
  width: 100%
  margin-bottom: 150px

.result__item
  display: flex
  position: relative
  margin-bottom: 20px
  background: #fff
  &:nth-child(odd)
    background: #f6f6f6

.result-item__photo
  width: 230px

.result-item__info
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 482px
  padding: 15px

.result__photo
  display: block
  width: 100%
  height: 100%
  object-fit: cover

.result__head
  position: relative

.result__date
  position: absolute
  right: 0
  top: 0
  font: $light 10px $open-sans
  color: #b9b9b9

.result__name
  font: $bold 20px $open-sans
  color: #000
  max-width: 400px
  overflow: hidden
  text-overflow: ellipsis

.result__code
  font: $light 14px $open-sans
  color: #000
  margin-bottom: 15px
  max-width: 400px
  overflow: hidden
  text-overflow: ellipsis

.result__body
  display: flex
  justify-content: space-between
  align-items: flex-end


.detail-table
  font: $light 10px $open-sans
  color: #4a4a4a
  margin-right: 10px
  & tr
    & td:first-of-type
      width: 55px
      padding-right: 5px

.result__buttons
  flex-shrink: 0

.pagination
  display: flex
  justify-content: flex-end
  align-items: center

.pagination__next,
.pagination__prev
  display: inline-block
  position: relative
  width: 24px
  height: 24px
  border-radius: 6px
  background: #000
  color: #fff
  cursor: pointer
  &:hover
    background: lighten(#000, 20%)
  &:after
    content: ''
    position: absolute
    left: 9px
    top: 7px
    width: 0
    height: 0
    border-top: 5px solid transparent
    border-bottom: 5px solid transparent
.pagination__next
  &.pagination__next--inactive
    background: lighten(#000, 70%)
    cursor: default
  &:after
    border-left: 6px solid #fff

.pagination__prev
  margin-right: 10px
  &.pagination__prev--inactive
    background: lighten(#000, 50%)
    cursor: default
  &:after
    border-right: 6px solid #fff

.pagination__list
  margin-right: 10px

.pagination__item
  box-sizing: content-box
  display: inline-block
  width: 22px
  height: 22px
  margin-right: 5px
  font: $normal 13px/22px $open-sans
  text-align: center
  color: #737373
  border: 2px solid #dcdcdc
  border-radius: 6px
  transition: border-color 0.2s ease
  user-select: none
  cursor: pointer
  &:last-of-type
    margin-right: 0
  &.pagination__item--active
    border-color: $color-main
    background: $color-main
    color: #fff
    cursor: default
    pointer-events: none
  &:hover
    border-color: darken(#dcdcdc, 20%)