footer
  background: #000

.footer__inner
  display: flex
  align-items: center
  height: 55px
  max-width: 1375px
  padding: 0 100px
  margin: 0 auto

.logo--footer
  display: flex
  align-items: center
  margin-right: auto
  user-select: none

.logo__img--footer
  height: 44px
  margin-right: 9px

.social
  display: flex
  align-items: center
  list-style-type: none
  margin-right: 40px

.social__item
  display: inline-block
  margin-right: 10px
  &:last-child
    margin-right: 0

.social__link
  display: flex
  justify-content: center
  align-items: center
  color: #fff
  width: 25px
  height: 25px
  border: 1px solid #fff
  border-radius: 50%
  font-size: 15px
  transition: all 0.2s ease
  &.social__link--instagram
    font-size: 17px
  &:hover
    color: darken(#fff, 20%)
    border-color: darken(#fff, 20%)

.copyright
  display: flex
  align-items: center
  
.copyright__name
  font: $light 18px $open-sans
  color: #626262
  margin-bottom: 2px

.copyright__slash
  font: $light 24px $open-sans
  color: $color-main
  margin: 0 7px 4px
  user-select: none

.copyright__year
  font: $semi-bold 18px $open-sans
  color: #626262

