header

.header__inner
  display: flex
  align-items: center
  height: 125px
  max-width: 1375px
  padding: 0 100px
  margin: 0 auto

.logo
  display: flex
  align-items: center
  margin-right: auto
  user-select: none

.logo__img
  height: 120px
  margin-right: 17px

.logo__text
  display: inline-flex
  font: $bold 25px $open-sans
  letter-spacing: 0.06em
  color: #000
  text-transform: uppercase

.text--orange
  color: $color-main