<template>
  <div class="about-page">
    <div class="about-hero">
      <div class="about-hero__inner">
        <p class="about-hero__text"><b>A Better Bid®</b> - это автомобильный онлайн-аукцион предлагающий для покупки более 100,000+ автомобилей в день. Здесь Вы можете найти и выиграть подержанные и аварийные автомобили,пикапы, электромобили, авто класса люкс, внедорожники, квадроциклы, мотоциклы и лодки и все это без необходимости наличия  лицензии дилера.</p>
        <br>
        <p class="about-hero__text">A Better Bid® является  официальным брокером компании Copart, а это значит, что Вы обладаете доступом к крупнейшему списку авто с аукционов на территории США, включая одержанные, восстановленные, бывшие в угоне, транспортные средства автопрокатов  и  лизинговых компаний, а также транспортные средства, поврежденные во время наводнения и града. Мы гарантируем, что процесс покупки будет приятным и безопасным.</p>
      </div>
    </div>
    <div class="about-team">
      <svg width="0" height="0">
          <linearGradient id="user-grad" x1="50%" y1="100%" x2="50%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:0" />
            <stop offset="100%" style="stop-color:rgb(139,139,139);stop-opacity:1" />
          </linearGradient>
      </svg>
      <h1 class="team__title">Наша команда</h1>
      <ul class="team__list">
        <li class="team__item">
          <div class="team__photo">
            <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
          </div>
          <p class="team__name">Имя</p>
          <p class="team__surname">Фамилия</p>
          <p class="team__position">Должность</p>
        </li>
        <li class="team__item">
          <div class="team__photo">
            <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
          </div>
          <p class="team__name">Имя</p>
          <p class="team__surname">Фамилия</p>
          <p class="team__position">Должность</p>
        </li>
        <li class="team__item">
          <div class="team__photo">
            <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
          </div>
          <p class="team__name">Имя</p>
          <p class="team__surname">Фамилия</p>
          <p class="team__position">Должность</p>
        </li>
      </ul>
    </div>
    <div class="about-mission">
      <div class="mission__ribbon">
        <p class="ribbon__text">Наша компания обеспечит Вас лучшим сервисом: мы доставим приобретенные Вами автомобили в любую точку земного шара, предоставим возможность бесплатно узнать историю транспортных средств, а также всегда с радостью ответим на все интересующие Вас вопросы.</p>
      </div>
      <div class="mission">
        <span class="mission__bubble"><font-awesome-icon :icon="['fas', 'comment-dots']"></font-awesome-icon></span>
        <p class="mission__text">Мы преданы своим покупателям и хотим, чтобы  Вам было еще удобнее покупать автомобили вместе с нашей компанией.</p></div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'About',
    data() {
      return {

      }
    },
    components: {
    }
  }
</script>