<template>
  <div class="news-page">
    <div class="news-page__inner">
      <h1 class="title">
        <span class="title__icon title__icon--search">
          <font-awesome-icon :icon="['far', 'newspaper']" class="" />
        </span>Новости</h1>
      <div class="news-block">
        <div class="news-block__header">
          <progressive-img src="https://source.unsplash.com/1980x1080/?supercar" placeholder="https://source.unsplash.com/100x150/?supercar"
            :blur="30" alt="" class="news-header__img" />
          <p class="news-header__main-text">Топ-5 машин из США,</p>
          <p class="news-header__sub-text">на которых можно заработать при перепродаже</p>
        </div>
        <div class="news-block__info">
          <span class="news-info__date">Опубликовано: 19 апреля 2018</span>
          <div class="news-info__statistic">
            <span class="news-stat">
              <span class="news-stat__icon">
                <font-awesome-icon :icon="['far', 'eye']"></font-awesome-icon>
              </span>
              <span class="news-stat__number">3200</span>
            </span>
            <span class="news-stat">
              <span class="news-stat__icon">
                <font-awesome-icon :icon="['fas', 'comment-alt']"></font-awesome-icon>
              </span>
              <span class="news-stat__number">3200</span>
            </span>
          </div>
        </div>
        <div class="news-content">
          <p class="news-content__paragraph">Американское направление по пригону автомобилей продолжает набирать обороты: из-за океана в Беларусь прибывают
            слегка битые машины, которые здесь восстанавливаются, после чего остаются у владельцев или перепродаются на рынке.</p>
          <p class="news-content__paragraph">До 1 июля еще осталось какое-то время, чтобы привезти подержанный автомобиль из США. Но и после данной датыэто
            можно будет сделать, разве что немного сложнее.Американское направление по пригону автомобилей продолжает набирать
            обороты: из-за океана в Беларусь прибывают слегка битые машины, которые здесь восстанавливаются, после чего остаются
            у владельцев или перепродаются на рынке.</p>
          <p class="news-content__paragraph">До 1 июля еще осталось какое-то время, чтобы привезти подержанный автомобиль из США. Но и после данной даты это
            можно будет сделать, разве что немного сложнее.</p>
          <span class="news-content__author">Редактор: ФИО</span>
        </div>
        <div class="news-comments">
          <svg width="0" height="0" style="position:absolute">
            <linearGradient id="user-grad" x1="50%" y1="100%" x2="50%" y2="0%">
              <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:0" />
              <stop offset="100%" style="stop-color:rgb(139,139,139);stop-opacity:1" />
            </linearGradient>
          </svg>
          <div class="news-comment__add">
            <div class="comment-add__user">
              <span class="comment-user__avatar">
                <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
              </span>
              <span class="comment-user__name">user</span>
            </div>
            <div class="comment-add__input">
              <textarea name="" id="" cols="30" rows="10" class="textarea"></textarea>
            </div>
            <div class="comment-add__button">
              <button class="comment__btn">
                <font-awesome-icon :icon="['fas', 'comment-alt']"></font-awesome-icon>
              </button>
            </div>
          </div>
          <div class="news-comment__list">
            <div class="news-comment__item">
              <div class="comment-item__avatar">
                <span class="comment-user__avatar">
                  <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
                </span>
              </div>
              <div class="comment-item__content">
                <div class="comment-item__head">
                  <div class="comment-item__info">
                    <span class="comment-item__name">user</span>
                    <span class="comment-item__date">26.34.2567</span>
                  </div>
                  <div class="comment-item__control">
                    <div class="comment-upvote">
                      <span class="comment-upvote__icon">
                        <font-awesome-icon :icon="['fas', 'thumbs-up']"></font-awesome-icon>
                      </span>
                      <span class="comment-upvote__count">30</span>
                    </div>
                    <div class="comment-downvote">
                      <span class="comment-downvote__icon">
                        <font-awesome-icon :icon="['fas', 'thumbs-down']"></font-awesome-icon>
                      </span>
                      <span class="comment-downvote__count">55</span>
                    </div>
                  </div>
                </div>
                <div class="comment-item__text">
                  <p>Американское направление по пригону автомобилей продолжает набирать обороты</p>
                </div>
              </div>
            </div>
            <div class="news-comment__item">
              <div class="comment-item__avatar">
                <span class="comment-user__avatar">
                  <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
                </span>
              </div>
              <div class="comment-item__content">
                <div class="comment-item__head">
                  <div class="comment-item__info">
                    <span class="comment-item__name">user</span>
                    <span class="comment-item__date">26.34.2567</span>
                  </div>
                  <div class="comment-item__control">
                    <div class="comment-upvote">
                      <span class="comment-upvote__icon">
                        <font-awesome-icon :icon="['fas', 'thumbs-up']"></font-awesome-icon>
                      </span>
                      <span class="comment-upvote__count">30</span>
                    </div>
                    <div class="comment-downvote">
                      <span class="comment-downvote__icon">
                        <font-awesome-icon :icon="['fas', 'thumbs-down']"></font-awesome-icon>
                      </span>
                      <span class="comment-downvote__count">55</span>
                    </div>
                  </div>
                </div>
                <div class="comment-item__text">
                  <p>Американское направление по пригону автомобилей продолжает набирать обороты Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Amet rem ipsam laborum accusamus deleniti, minus odit quisquam et totam
                    cupiditate!
                  </p>
                  <p>Американское направление по пригону автомобилей продолжает набирать обороты Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Amet rem ipsam laborum accusamus deleniti, minus odit quisquam et totam
                    cupiditate!
                  </p>
                </div>
              </div>
            </div>
            <div class="news-comment__item">
              <div class="comment-item__avatar">
                <span class="comment-user__avatar">
                  <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
                </span>
              </div>
              <div class="comment-item__content">
                <div class="comment-item__head">
                  <div class="comment-item__info">
                    <span class="comment-item__name">user</span>
                    <span class="comment-item__date">26.34.2567</span>
                  </div>
                  <div class="comment-item__control">
                    <div class="comment-upvote">
                      <span class="comment-upvote__icon">
                        <font-awesome-icon :icon="['fas', 'thumbs-up']"></font-awesome-icon>
                      </span>
                      <span class="comment-upvote__count">30</span>
                    </div>
                    <div class="comment-downvote">
                      <span class="comment-downvote__icon">
                        <font-awesome-icon :icon="['fas', 'thumbs-down']"></font-awesome-icon>
                      </span>
                      <span class="comment-downvote__count">55</span>
                    </div>
                  </div>
                </div>
                <div class="comment-item__text">
                  <p>Американское направление по пригону автомобилей продолжает набирать обороты</p>
                </div>
              </div>
            </div>
            <div class="news-comment__show">
              <span class="comment-show__box">Открыть обсуждения</span>
            </div>
          </div>
        </div>
        <div class="more-news">
          <h2 class="more-news__title">Другие новости</h2>
          <ul class="more-news__list">
            <li class="more-news__item">
              <a href="#" class="more-news__link"></a>
              <progressive-img src="https://source.unsplash.com/600x300/?supercar" placeholder="https://source.unsplash.com/1x1/?supercar"
                :blur="30" alt="" class="news-item__img" />
              <p class="news-item__main-text">Топ-5 машин из США,</p>
              <p class="news-item__sub-text">на которых можно заработать при перепродаже</p>
              <div class="news-item__statistic">
                <span class="news-item__stat">
                  <span class="news-item-stat__icon">
                    <font-awesome-icon :icon="['far', 'eye']"></font-awesome-icon>
                  </span>
                  <span class="news-item-stat__number">3200</span>
                </span>
                <span class="news-item__stat">
                  <span class="news-item-stat__icon">
                    <font-awesome-icon :icon="['fas', 'comment-alt']"></font-awesome-icon>
                  </span>
                  <span class="news-item-stat__number">3200</span>
                </span>
              </div>
            </li>
            <li class="more-news__item">
              <a href="#" class="more-news__link"></a>
              <progressive-img src="https://source.unsplash.com/600x300/?avocado" placeholder="https://source.unsplash.com/1x1/?avocado"
                :blur="30" alt="" class="news-item__img" />
              <p class="news-item__main-text">Топ-5 машин из США,</p>
              <p class="news-item__sub-text">на которых можно заработать при перепродаже</p>
              <div class="news-item__statistic">
                <span class="news-item__stat">
                  <span class="news-item-stat__icon">
                    <font-awesome-icon :icon="['far', 'eye']"></font-awesome-icon>
                  </span>
                  <span class="news-item-stat__number">3200</span>
                </span>
                <span class="news-item__stat">
                  <span class="news-item-stat__icon">
                    <font-awesome-icon :icon="['fas', 'comment-alt']"></font-awesome-icon>
                  </span>
                  <span class="news-item-stat__number">3200</span>
                </span>
              </div>
            </li>
            <li class="more-news__item">
              <a href="#" class="more-news__link"></a>
              <progressive-img src="https://source.unsplash.com/600x300/?cat" placeholder="https://source.unsplash.com/1x1/?cat" :blur="30"
                alt="" class="news-item__img" />
              <p class="news-item__main-text">Топ-5 машин из США,</p>
              <p class="news-item__sub-text">на которых можно заработать при перепродаже</p>
              <div class="news-item__statistic">
                <span class="news-item__stat">
                  <span class="news-item-stat__icon">
                    <font-awesome-icon :icon="['far', 'eye']"></font-awesome-icon>
                  </span>
                  <span class="news-item-stat__number">3200</span>
                </span>
                <span class="news-item__stat">
                  <span class="news-item-stat__icon">
                    <font-awesome-icon :icon="['fas', 'comment-alt']"></font-awesome-icon>
                  </span>
                  <span class="news-item-stat__number">3200</span>
                </span>
              </div>
            </li>
            <li class="more-news__item">
              <a href="#" class="more-news__link"></a>
              <progressive-img src="https://source.unsplash.com/600x300/?dog" placeholder="https://source.unsplash.com/1x1/?dog" :blur="30"
                alt="" class="news-item__img" />
              <p class="news-item__main-text">Топ-5 машин из США,</p>
              <p class="news-item__sub-text">на которых можно заработать при перепродаже</p>
              <div class="news-item__statistic">
                <span class="news-item__stat">
                  <span class="news-item-stat__icon">
                    <font-awesome-icon :icon="['far', 'eye']"></font-awesome-icon>
                  </span>
                  <span class="news-item-stat__number">3200</span>
                </span>
                <span class="news-item__stat">
                  <span class="news-item-stat__icon">
                    <font-awesome-icon :icon="['fas', 'comment-alt']"></font-awesome-icon>
                  </span>
                  <span class="news-item-stat__number">3200</span>
                </span>
              </div>
            </li>
            <li class="more-news__item">
              <a href="#" class="more-news__link"></a>
              <progressive-img src="https://source.unsplash.com/600x300/?cute" placeholder="https://source.unsplash.com/1x1/?cute"
                :blur="30" alt="" class="news-item__img" />
              <p class="news-item__main-text">Топ-5 машин из США,</p>
              <p class="news-item__sub-text">на которых можно заработать при перепродаже</p>
              <div class="news-item__statistic">
                <span class="news-item__stat">
                  <span class="news-item-stat__icon">
                    <font-awesome-icon :icon="['far', 'eye']"></font-awesome-icon>
                  </span>
                  <span class="news-item-stat__number">3200</span>
                </span>
                <span class="news-item__stat">
                  <span class="news-item-stat__icon">
                    <font-awesome-icon :icon="['fas', 'comment-alt']"></font-awesome-icon>
                  </span>
                  <span class="news-item-stat__number">3200</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'News',
    data() {
      return {

      }
    },
    components: {},
  }
</script>