<template>
  <div class="search">
    <h1 class="title">
      <span class="title__icon title__icon--search">
        <font-awesome-icon :icon="['fas', 'search']" class="" />
      </span>Поиск транспортного средства</h1>
    <div class="search__inner">
      <div class="search__filters">
        <div class="search-car">
          <form class="search-car__form" action="">
            <h3 class="hero-form__title">Аукционы</h3>
            <div class="search-car__auctions">
              <label v-for="(auction, index) in auctions" :key="index" :for="auction.id" class="checkbox-label checkbox-label--auctions">
                <input v-model="checked" :id="auction.id" :value="auction.id" type="checkbox" :checked="auction.checked">
                <span class="checkbox"></span>
                <span class="checkbox__text">{{ auction.name }}</span>
              </label>
              <a href="#" class="search-car__all">Все</a>
            </div>
            <h3 class="hero-form__title">Машины</h3>
            <div class="search-car__options">
              <base-multiselect v-for="(item,index) in selects" :key="index" :multiselectInit="item"></base-multiselect>
              <label for="check-photo" class="checkbox-label checkbox-label--photo">
                <input v-model="checkPhoto" id="check-photo" value="check-photo" type="checkbox">
                <span class="checkbox__text">Только с фото</span>
                <span class="checkbox"></span>
              </label>
              <a href="#" class="btn btn--black">Найти</a>
            </div>
          </form>
        </div>
        <div class="delivery-calc">
          <h3 class="hero-form__title">Калькулятор доставки</h3>
          <select v-for="(select, index) in calcSelects" :key="index" v-model="select.selected" :class="[{'select--selected': select.selected},'select']">
            <option class="option" disabled value="">{{ select.name }}</option>
            <option class="option" v-for="(option, index) in select.items" :key="index">{{ option.name }}</option>
          </select>
          <input type="text" class="input input--delivery" value="3000$" disabled>
          <a href="#" class="btn btn--black">Рассчитать</a>
        </div>
      </div>
      <div class="search__result">
        <div class="result__list">
          <div v-for="(car,index) in searchResult" :key="index" class="result__item">
            <div class="result-item__photo">
              <img :src="car.photo" alt="" class="result__photo">
            </div>
            <div class="result-item__info">
              <div class="result__head">
                <span class="result__date">{{ car.date }}</span>
                <p class="result__name">{{ car.name }}</p>
                <p class="result__code">{{ car.code }}</p>
              </div>
              <div class="result__body">
                <div class="result__details">
                  <table class="detail-table">
                    <tr v-for="(item, index) in car.details" :key="index">
                      <td>{{ item.name }}</td>
                      <td>{{ item.value }} </td>
                    </tr>
                  </table>
                </div>
                <div class="result__buttons">
                  <a href="" class="btn__small btn__small--red">Подробности</a>
                  <a href="" class="btn__small btn__small--black">Добавить</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination">
          <span class="pagination__prev"></span>
          <ul class="pagination__list">
            <li class="pagination__item pagination__item--active">1</li>
            <li class="pagination__item">2</li>
            <li class="pagination__item">3</li>
            <li class="pagination__item">4</li>
            <li class="pagination__item">5</li>
          </ul>
          <span class="pagination__next pagination__next--inactive"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import BaseMultiselect from './BaseMultiselect.vue';

  export default {
    name: 'Search',
    data() {
      return {
        searchResult: [{
          date: '2011-01-02',
            name: '2008 BMW 5-series',
            code: 'WBANV135X8CZ50510',
            details: [{
                name: 'Год',
                value: '2001'
              },
              {
                name: 'Модель',
                value: 'X5'
              },
              {
                name: 'Привод',
                value: 'передний'
              },
              {
                name: 'Пробег',
                value: '2001'
              },
            ],
            photo: 'https://source.unsplash.com/227x152/?bmw,car'
          },
          {
            date: '2011-01-02',
            name: 'Audi',
            code: 'WBANV135X8CZ50510',
            details: [{
                name: 'Год',
                value: '2001'
              },
              {
                name: 'Модель',
                value: 'X5'
              },
              {
                name: 'Привод',
                value: 'передний'
              },
              {
                name: 'Пробег',
                value: '2001'
              },
            ],
            photo: 'https://source.unsplash.com/227x152/?audi,car'
          },
          {
            date: '2011-01-02',
            name: 'Ford',
            code: 'WBANV135X8CZ50510',
            details: [{
                name: 'Год',
                value: '2001'
              },
              {
                name: 'Модель',
                value: 'X5'
              },
              {
                name: 'Привод',
                value: 'передний'
              },
              {
                name: 'Пробег',
                value: '2001'
              },
            ],
            photo: 'https://source.unsplash.com/227x152/?ford,car'
          }
        ],
        selects: {
          multiselect1: {
            show: false,
            name: 'Тип',
            items: [{
                name: 'Легковой',
                id: '1-1'
              },
              {
                name: 'Грузовой',
                id: '1-2'
              },
              {
                name: 'Мотоцикл',
                id: '1-3'
              },
            ]
          },
          multiselect2: {
            show: false,
            name: 'Марка',
            items: [{
                name: 'Mazda',
                id: '2-1'
              },
              {
                name: 'Suzuki',
                id: '2-2'
              },
              {
                name: 'Audi',
                id: '2-3'
              },
            ]
          },
          multiselect3: {
            show: false,
            name: 'Модель',
            items: [{
                name: 'Mazda',
                id: '3-1'
              },
              {
                name: 'Suzuki',
                id: '3-2'
              },
              {
                name: 'Audi',
                id: '3-3'
              },
            ]
          },
          multiselect4: {
            show: false,
            name: 'Год выпуска',
            items: [{
                name: '1999',
                id: '4-1'
              },
              {
                name: '2000',
                id: '4-2'
              },
              {
                name: '219 BC',
                id: '4-3'
              },
            ]
          },
        },
        selected: [],
        checked: ['copart'],
        checkPhoto: null,
        calcSelects: [{
            name: 'Откуда',
            selected: '',
            items: [{
                name: 'США',
                id: 'us'
              },
              {
                name: 'Канада',
                id: 'ca'
              },
              {
                name: 'Япония',
                id: 'jp'
              },
            ]
          },
          {
            name: 'Куда',
            selected: '',
            items: [{
                name: 'США',
                id: 'us'
              },
              {
                name: 'Канада',
                id: 'ca'
              },
              {
                name: 'Япония',
                id: 'jp'
              },
            ]
          }
        ],
        auctions: [{
            name: 'IAAI',
            id: 'iaai',
          },
          {
            name: 'COPART',
            id: 'copart',
          },
        ],
      }
    },
    components: {
      'base-multiselect': BaseMultiselect
    }
  }
</script>