<template>
  <footer>
    <div class="footer__inner">
      <a href="#" class="logo--footer">
        <img src="/img/logo-white.svg" alt="" class="logo__img--footer">
      </a>
      <ul class="social">
        <li class="social__item"><a href="#" class="social__link social__link--instagram"><font-awesome-icon :icon="['fab', 'instagram']"></font-awesome-icon></a></li>
        <li class="social__item"><a href="#" class="social__link"><font-awesome-icon :icon="['fab', 'facebook-f']"></font-awesome-icon></a></li>
        <li class="social__item"><a href="#" class="social__link"><font-awesome-icon :icon="['fab', 'google-plus-g']"></font-awesome-icon></a></li>
        <li class="social__item"><a href="#" class="social__link"><font-awesome-icon :icon="['fab', 'twitter']"></font-awesome-icon></a></li>
      </ul>
      <div class="copyright">
        <span class="copyright__name">lorem ipsum</span>
        <span class="copyright__slash">&Backslash;</span>
        <span class="copyright__year">{{ new Date().getFullYear() }}</span>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'TheFooter',
  }