.input__block
  display: flex
  align-items: center
  position: relative
  max-width: 570px
  width: 100%
  margin: 0 35px
  font-size: 22px
  
.input--search
  display: inline-block
  width: 100%
  height: 40px
  padding: 5px 40px 5px 20px
  border: 1px solid $color-grey
  border-radius: 3px
  font: $normal 20px $open-sans
  color: #000
  &::placeholder
    color: #c9c9c9

.input__icon
  position: absolute
  right: 10px
  color: $color-grey

.checkbox-label
  display: flex
  justify-content: flex-start
  align-items: center
  position: relative
  user-select: none
  & input
    position: absolute
    opacity: 0
  & input:checked ~ .checkbox:before
    content: ''
    position: absolute
    left: 2px
    top: 2px
    width: 12px
    height: 12px
    background: $color-main

.checkbox
  display: inline-block
  position: relative
  background: #fff
  width: 18px
  height: 18px
  border: 1px solid #bfbfbf

.checkbox-label--auctions
  margin-bottom: 15px
  & .checkbox
    margin-right: 15px
  & .checkbox__text
    font: $bold 40px $open-sans
    color: #000

.checkbox-label--photo
  justify-content: space-between
  width: 100%
  height: 55px
  margin-bottom: 5px
  padding: 0 15px 0 20px
  border: 1px solid #979797
  appearance: none
  background: #fff
  & .checkbox__text
    font: $light 17px $open-sans
    color: #000

.select
  display: inline-block
  position: relative
  width: 100%
  height: 55px
  font: $light 22px $open-sans
  color: #c9c9c9
  margin-bottom: 5px
  padding: 0 20px
  border: 1px solid #979797
  appearance: none
  background: #fff
  background-position: center right 10px
  background-repeat: no-repeat
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij4gIDxwYXRoIGZpbGw9IiNDN0M3Q0MiIGQ9Ik0zIDZsNC01IDQgNXpNMTEgOGwtNCA1LTQtNXoiLz48L3N2Zz4=)
  &.select--selected
    color: #000
    font-weight: normal
  &:last-of-type
    margin-bottom: 15px

.option
  color: #000

.input
  display: inline-block
  width: 100%

.input--delivery
  background: #fff
  color: #000
  height: 55px
  font: $semi-bold 30px $open-sans
  padding: 0 20px
  border: 1px solid #979797
  margin: 15px 0 50px  

.multiselect

.multiselect__title
  display: inline-block
  position: relative
  font: $light 22px $open-sans
  width: 100%
  height: 55px
  line-height: 53px
  color: #c9c9c9
  margin-bottom: 5px
  padding: 0 20px
  border: 1px solid #979797
  appearance: none
  background: #fff
  cursor: pointer
  &:after
    content: ''
    position: absolute
    right: 16px
    top: 18px
    border: solid #d9d9d9
    border-width: 0 2px 2px 0
    display: inline-block
    padding: 6px
    transform: rotate(45deg)
  &.multiselect__title--open
    margin-bottom: 0
    &:after
      border-color: $color-main
      transform: rotate(225deg)
      top: 24px
  &.multiselect__title--selected
    color: #000

.multiselect__items
  margin-bottom: 10px
  border: 1px solid #979797
  border-top: none

.multiselect__item
  background: #fff
  &:nth-child(odd)
    background: #f6f6f6

.multiselect__label
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 15px 0 20px
  height: 33px
  font: $light 19px $open-sans
  color: #000
  user-select: none
  & input
    position: absolute
    opacity: 0
  & input:checked ~ .multiselect__checkbox:before
    background: $color-main

.multiselect__checkbox
  display: inline-block
  position: relative
  background: #fff
  width: 18px
  height: 18px
  border: 1px solid #bfbfbf
  &:before
    content: ''
    position: absolute
    left: 2px
    top: 2px
    width: 12px
    height: 12px
    background: #fff
    transition: background 0.2s ease


.radio__label
  display: flex
  height: 55px
  justify-content: flex-start
  align-items: center
  position: relative
  user-select: none
  & input
    position: absolute
    opacity: 0
  & input:checked ~ .radio__button:before
    background: $color-main

.radio__button
  display: inline-block
  position: relative
  background: #fff
  width: 18px
  height: 18px
  border: 1px solid #626262
  border-radius: 50%
  &:before
    content: ''
    position: absolute
    left: 2px
    top: 2px
    width: 12px
    height: 12px
    background: transparent
    border-radius: 50%
    transition: background 0.2s ease

.radio__text
  font: $light 19px $open-sans
  color: #000

.textarea
  width: 100%
  border: 1px solid #a0a0a0
  resize: none