nav
  height: 40px
  background: $color-main

.nav__list
  display: flex
  position: relative
  justify-content: center
  align-items: center
  max-width: 1375px
  height: 100%
  margin: 0 auto
  list-style-type: none

.nav__item
  height: 100%
  display: inline-block
  margin-right: 60px
  &:last-child
    margin-right: 0

.nav__link
  display: flex
  height: 100%
  justify-content: center
  align-items: center
  font: $normal 20px $open-sans
  color: #fff
  transition: all 0.2s ease
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  &:hover
    color: #000
  &.nav__link--active
    font-weight: $bold