.side-overlay__left,
.side-overlay__right
  position: fixed
  background: rgba(0, 0, 0, 0.15)
  left: 0
  top: 0
  bottom: 0
  width: calc((100% - 1375px) / 2)

.side-overlay__right
  right: 0
  left: auto