.slider
  position: relative
  max-width: 1024px
  margin: 50px auto 100px
  & .swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 4px
    width: 10px
    height: 10px
    &.swiper-pagination-bullet-active
      background: $color-main


.slide
  position: relative
  display: block
  height: 175px
  &:hover .slide__footer:before
    background: rgba(234,36,39,0.55)

.slide__img
  position: absolute
  width: 100%
  height: 100%
  object-fit: cover
  z-index: -1

.slide__footer
  position: absolute
  bottom: 0
  right: 0
  left: 0
  padding: 10px 20px
  overflow: hidden
  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: -10px
    right: 12px
    transform: skewX(20deg)
    background: rgba(0,0,0,0.55)
    z-index: -1

.slide__title
  font: $semi-bold 20px $open-sans
  color: #fff
  line-height: 20px
  text-transform: uppercase
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.slide__text
  font: $light 14px $open-sans
  color: #fff
  line-height: 20px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  
.slider-pagination
  width: 100%
  bottom: -45px

.slider-button-next,
.slider-button-prev
  position: absolute
  top: 71px
  right: -40px
  border: solid #979797
  border-width: 0 3px 3px 0
  display: inline-block
  padding: 10px
  transform: rotate(-45deg)
  cursor: pointer
  &.swiper-button-disabled
    cursor: default
    border-color: lighten(#979797, 20%)
  &:focus
    outline: none

.slider-button-prev
  transform: rotate(135deg)
  left: -40px
  right: auto