@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i,800&subset=cyrillic);.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
  max-width: 1375px;
  padding: 0 100px;
  margin: 0 auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo__img {
  height: 120px;
  margin-right: 17px;
}

.logo__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font: 700 25px "Open Sans", sans-serif;
  letter-spacing: 0.06em;
  color: #000;
  text-transform: uppercase;
}

.text--orange {
  color: #ea2427;
}

footer {
  background: #000;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  max-width: 1375px;
  padding: 0 100px;
  margin: 0 auto;
}

.logo--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo__img--footer {
  height: 44px;
  margin-right: 9px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-right: 40px;
}

.social__item {
  display: inline-block;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.social__link.social__link--instagram {
  font-size: 17px;
}

.social__link:hover {
  color: #cccccc;
  border-color: #cccccc;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__name {
  font: 300 18px "Open Sans", sans-serif;
  color: #626262;
  margin-bottom: 2px;
}

.copyright__slash {
  font: 300 24px "Open Sans", sans-serif;
  color: #ea2427;
  margin: 0 7px 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.copyright__year {
  font: 600 18px "Open Sans", sans-serif;
  color: #626262;
}

.hero {
  position: relative;
}

.hero:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-image: url(https://source.unsplash.com/1920x1080/?cars);
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.1;
  z-index: -1;
}

.hero__inner {
  position: relative;
  max-width: 1375px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

.hero__inner:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: radial-gradient(circle, #ea2427 0%, rgba(0, 0, 0, 0) 40%);
}

.hero__title {
  font: 700 40px "Open Sans", sans-serif;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.hero-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.search-car,
.delivery-calc {
  border: 5px solid rgba(0, 0, 0, 0.03);
  background: rgba(255, 255, 255, 0.75);
  padding: 20px 30px 40px;
  text-align: left;
}

.search-car {
  width: 600px;
}

.search-car__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-car__all {
  font: 400 23px "Open Sans", sans-serif;
  color: #848484;
  text-decoration: underline;
}

.search-car__all:hover {
  text-decoration: none;
}

.search-car__auctions {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 20px;
}

.search-car__options {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.delivery-calc {
  width: 350px;
}

.hero-form__title {
  font: 400 20px "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 35px;
}

.news {
  position: relative;
  max-width: 1375px;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
}

.news:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: radial-gradient(circle, #ea2427 0%, rgba(0, 0, 0, 0) 40%);
}

.news__inner {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
}

.news__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.news__preview {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  height: 215px;
  padding-left: 45px;
  margin-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  overflow: hidden;
}

.news__preview:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -7px;
  width: 100px;
  height: 100px;
  -webkit-transform: skewX(25deg) translateY(-50%);
          transform: skewX(25deg) translateY(-50%);
  background: rgba(234, 36, 39, 0.75);
  z-index: -1;
}

.news-preview__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  z-index: -2;
}

.news-preview__main-text {
  font: italic 700 25px/1 "Open Sans", sans-serif;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.news-preview__sub-text {
  font: 400 25px/1 "Open Sans", sans-serif;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.news-preview__statistic {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font: 300 20px "Open Sans", sans-serif;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.news-stat {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-stat:first-of-type {
  margin-right: 25px;
}

.news-stat__icon {
  margin-right: 5px;
}

.news__detail {
  position: relative;
  max-width: 500px;
  text-align: left;
}

.news-detail__date {
  font: italic 400 15px "Open Sans", sans-serif;
  color: #a1a1a1;
  margin-top: -5px;
}

.news-detail__paragraph {
  position: relative;
  font: 400 15px "Open Sans", sans-serif;
  color: #000;
  max-height: 160px;
  overflow: hidden;
}

.news-detail__paragraph:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  height: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(white));
  background: linear-gradient(transparent, white);
}

.news-detail__buttons {
  position: absolute;
  bottom: 0;
  left: 0;
}

.about {
  text-align: center;
  padding-top: 40px;
  background: url(/img/about.jpg);
  background-size: cover;
}

.about__text {
  max-width: 740px;
  margin: 0 auto;
  font: 400 15px "Open Sans", sans-serif;
  color: #fff;
}

.about__arrow {
  margin: 25px auto;
  border: solid #ea2427;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.reviews {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 100px;
}

.reviews__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 925px;
  margin: 0 auto;
}

.review__card {
  position: relative;
  width: 400px;
  padding-left: 140px;
  text-align: left;
  margin-bottom: 30px;
}

.review__card:nth-child(odd) {
  margin-right: 125px;
}

.review-card__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  width: 114px;
  height: 114px;
  border: 2px solid #ea2427;
  border-radius: 50%;
}

.review-card__avatar path {
  fill: url(#user-grad);
}

.review-card__user,
.review-card__date {
  font: italic 400 15px "Open Sans", sans-serif;
  color: #6d6d6d;
}

.review-card__user {
  margin-right: 10px;
}

.review-card__text {
  position: relative;
  display: -webkit-box;
  font: italic 400 15px "Open Sans", sans-serif;
  margin-top: 5px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  max-height: 90px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.search {
  background: #fff;
  max-width: 1024px;
  margin: 0 auto;
}

.search__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__filters {
  -ms-flex-preferred-size: 315px;
      flex-basis: 315px;
  margin-right: 40px;
}

.search__filters .search-car {
  width: 100%;
  margin-bottom: 35px;
}

.search__filters .search-car .hero-form__title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search__filters .search-car .search-car__auctions {
  padding-right: 0;
  margin-bottom: 35px;
}

.search__filters .search-car .checkbox-label--auctions {
  margin-bottom: 5px;
}

.search__filters .search-car .search-car__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search__filters .delivery-calc {
  width: 100%;
  margin-bottom: 90px;
}

.search__result {
  max-width: 712px;
}

.result__list {
  width: 100%;
  margin-bottom: 150px;
}

.result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 20px;
  background: #fff;
}

.result__item:nth-child(odd) {
  background: #f6f6f6;
}

.result-item__photo {
  width: 230px;
}

.result-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 482px;
  padding: 15px;
}

.result__photo {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.result__head {
  position: relative;
}

.result__date {
  position: absolute;
  right: 0;
  top: 0;
  font: 300 10px "Open Sans", sans-serif;
  color: #b9b9b9;
}

.result__name {
  font: 700 20px "Open Sans", sans-serif;
  color: #000;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result__code {
  font: 300 14px "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 15px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.detail-table {
  font: 300 10px "Open Sans", sans-serif;
  color: #4a4a4a;
  margin-right: 10px;
}

.detail-table tr td:first-of-type {
  width: 55px;
  padding-right: 5px;
}

.result__buttons {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__next,
.pagination__prev {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.pagination__next:hover,
.pagination__prev:hover {
  background: #333333;
}

.pagination__next:after,
.pagination__prev:after {
  content: '';
  position: absolute;
  left: 9px;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.pagination__next.pagination__next--inactive {
  background: #b3b2b2;
  cursor: default;
}

.pagination__next:after {
  border-left: 6px solid #fff;
}

.pagination__prev {
  margin-right: 10px;
}

.pagination__prev.pagination__prev--inactive {
  background: #807f7f;
  cursor: default;
}

.pagination__prev:after {
  border-right: 6px solid #fff;
}

.pagination__list {
  margin-right: 10px;
}

.pagination__item {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  font: 400 13px/22px "Open Sans", sans-serif;
  text-align: center;
  color: #737373;
  border: 2px solid #dcdcdc;
  border-radius: 6px;
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.pagination__item:last-of-type {
  margin-right: 0;
}

.pagination__item.pagination__item--active {
  border-color: #ea2427;
  background: #ea2427;
  color: #fff;
  cursor: default;
  pointer-events: none;
}

.pagination__item:hover {
  border-color: darkgray;
}

.about-hero {
  position: relative;
  background: url(/img/about-bg.png);
  background-size: cover;
}

.about-hero__inner {
  max-width: 1375px;
  position: relative;
  padding: 125px 0;
  margin: 0 auto;
  text-align: left;
}

.about-hero__inner:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: radial-gradient(circle, #f7943a 0%, rgba(0, 0, 0, 0) 100%);
}

.about-hero__text {
  font: 300 16px "Open Sans", sans-serif;
  color: #fff;
  max-width: 767px;
  margin: 0 auto;
}

.about-team {
  max-width: 1375px;
  margin: 0 auto 60px;
  text-align: center;
}

.team__item {
  display: inline-block;
  margin-right: 70px;
}

.team__item:last-of-type {
  margin-right: 0;
}

.team__photo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 130px;
  width: 220px;
  height: 220px;
  border: 5px solid #ea2427;
  border-radius: 50%;
  margin-bottom: 30px;
}

.team__photo:after {
  content: '';
  position: absolute;
  width: 205px;
  height: 205px;
  border: 3px solid #d2d2d2;
  border-radius: 50%;
  background: transparent;
}

.team__photo path {
  fill: url(#user-grad);
}

.team__name,
.team__surname {
  font: 400 22px "Open Sans", sans-serif;
  color: #000;
  text-transform: uppercase;
}

.team__surname {
  margin-bottom: 20px;
}

.team__position {
  font: 300 16px "Open Sans", sans-serif;
  color: #737373;
  text-transform: uppercase;
}

.mission__ribbon {
  background: #ea2427;
  padding: 20px 0;
  margin: 0 auto;
  text-align: left;
}

.ribbon__text {
  font: 300 16px "Open Sans", sans-serif;
  color: #fff;
  max-width: 767px;
  margin: 0 auto;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 767px;
  margin: 60px auto;
}

.mission__bubble {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 130px;
  text-align: left;
  padding-left: 20px;
  font-size: 80px;
}

.mission__bubble svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.mission__text {
  font: 300 26px "Open Sans", sans-serif;
  color: #626262;
  text-align: left;
  text-transform: uppercase;
}

.calc {
  background: #fff;
}

.calc__inner {
  max-width: 1024px;
  margin: 0 auto;
}

.calc-form {
  margin-bottom: 50px;
}

.calc-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.calc-column {
  padding: 35px 30px 20px;
  border-left: 5px solid #f7f7f7;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.calc-column:last-of-type {
  border-right: 5px solid #f7f7f7;
}

.calc-column.calc-column--big {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.calc-column .calc-form__item {
  margin-bottom: 5px;
}

.calc-column .calc-form__item:last-of-type {
  margin-bottom: 0;
}

.calc-column .calc-form__item .select {
  margin-bottom: 0;
}

.calc-column .calc-form__item .radio__button {
  margin-right: 20px;
}

.calc-column .calc-form__item .radio__icon {
  margin-right: 20px;
}

.calc-column .calc-form__item.calc-form__item--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.calc-column .calc-form__item .input {
  margin: 0;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.calc-button {
  text-align: center;
}

.calc-button .btn {
  max-width: 240px;
}

.gmap {
  width: 100%;
  height: 400px;
  margin-bottom: 90px;
}

.calc-input__text {
  font: 300 19px "Open Sans", sans-serif;
  color: #000;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 10px;
}

.news-page {
  background: #fff;
}

.news-page__inner {
  max-width: 1024px;
  margin: 0 auto;
}

.news-page__inner h1 {
  margin: 40px 0;
}

.news-block__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  padding-left: 45px;
  padding-bottom: 55px;
  margin-right: -45px;
  margin-left: -45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  overflow: hidden;
  z-index: 0;
}

.news-block__header:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 20px;
  left: -35px;
  width: 140px;
  height: 140px;
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
  background: rgba(234, 36, 39, 0.75);
  z-index: -1;
}

.news-header__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  z-index: -2;
}

.news-header__main-text {
  font: italic 700 36px/1 "Open Sans", sans-serif;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.news-header__sub-text {
  font: 400 36px/1 "Open Sans", sans-serif;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.news-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.news-info__date {
  font: italic 400 15px "Open Sans", sans-serif;
  color: #a1a1a1;
}

.news-info__statistic {
  font: 400 20px "Open Sans", sans-serif;
  color: #000;
}

.news-stat {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-stat:first-of-type {
  margin-right: 25px;
}

.news-stat__icon {
  margin-right: 5px;
}

.news-content {
  margin-bottom: 40px;
}

.news-content__paragraph {
  font: 400 17px "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 20px;
}

.news-content__author {
  font: italic 400 15px "Open Sans", sans-serif;
  color: #a1a1a1;
}

.news-comment__add {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.comment-add__user {
  text-align: center;
  margin-right: 15px;
}

.comment-user__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  width: 55px;
  height: 55px;
  border: 2px solid #ea2427;
  border-radius: 50%;
  margin-bottom: 5px;
}

.comment-user__avatar path {
  fill: url(#user-grad);
}

.comment-user__name {
  font: italic 400 15px "Open Sans", sans-serif;
  color: #a1a1a1;
}

.comment-add__input {
  -ms-flex-preferred-size: 430px;
      flex-basis: 430px;
  margin-top: 10px;
  margin-right: 15px;
}

.comment__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  width: 55px;
  height: 55px;
  background: #000;
  color: #fff;
  border-radius: 50%;
}

.news-comment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 820px;
  margin-bottom: 20px;
}

.comment-item__avatar {
  margin-right: 15px;
}

.comment-item__content {
  width: 100%;
}

.comment-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.comment-item__name {
  font: italic 400 15px "Open Sans", sans-serif;
  color: #a1a1a1;
  margin-right: 20px;
}

.comment-item__date {
  font: italic 400 15px "Open Sans", sans-serif;
  color: #d4d4d4;
}

.comment-item__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-upvote,
.comment-downvote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-upvote {
  margin-right: 15px;
}

.comment-upvote__icon {
  cursor: pointer;
  font-size: 20px;
  color: #ea2427;
  margin-right: 5px;
  margin-top: -7px;
}

.comment-upvote__icon:hover {
  color: #990f11;
}

.comment-downvote__icon {
  cursor: pointer;
  font-size: 20px;
  color: #000;
  margin-right: 5px;
  margin-top: 7px;
}

.comment-downvote__icon:hover {
  color: #333333;
}

.comment-upvote__count,
.comment-downvote__count {
  font: italic 400 15px "Open Sans", sans-serif;
  color: #a1a1a1;
}

.comment-item__text p {
  font: 400 16px "Open Sans", sans-serif;
  color: #000;
}

.news-comment__show {
  position: relative;
  text-align: center;
  width: 100%;
}

.news-comment__show:before,
.news-comment__show:after {
  content: '';
  position: absolute;
  top: 50%;
  width: calc(50% - 305px / 2);
  height: 1px;
  background: #000;
}

.news-comment__show:before {
  left: 0;
}

.news-comment__show:after {
  right: 0;
}

.comment-show__box {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 305px;
  height: 45px;
  margin: 50px auto 50px;
  background: #000;
  color: #fff;
  font: 600 20px "Open Sans", sans-serif;
  text-align: center;
  line-height: 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.more-news {
  margin-bottom: 100px;
}

.more-news__title {
  font: 400 20px "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 20px;
}

.more-news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.more-news__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  height: 155px;
  padding-left: 30px;
  margin-right: 17px;
  margin-bottom: 17px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  overflow: hidden;
  z-index: 0;
}

.more-news__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -7px;
  width: 80px;
  height: 85px;
  -webkit-transform: skewX(25deg) translateY(-50%);
          transform: skewX(25deg) translateY(-50%);
  background: rgba(234, 36, 39, 0.75);
  z-index: -1;
}

.more-news__item:nth-child(3n+3) {
  margin-right: 0;
}

.more-news__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.news-item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.news-item__main-text {
  font: italic 700 18px/1 "Open Sans", sans-serif;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.news-item__sub-text {
  font: 400 18px/1 "Open Sans", sans-serif;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.news-item__statistic {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font: 300 15px "Open Sans", sans-serif;
  color: #fff;
  opacity: 1;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.news-item__stat {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-item__stat:first-of-type {
  margin-right: 25px;
}

.news-item-stat__icon {
  margin-right: 5px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.reviews-page {
  background: #fff;
}

.reviews-page__inner {
  max-width: 1024px;
  margin: 0 auto;
}

.reviews-page__inner h1 {
  margin: 40px 0;
}

.review__item {
  padding: 30px 0;
  background: #f7f7f7;
}

.review__item:nth-child(odd) {
  background: #fff;
}

.review-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1024px;
  margin: 0 auto;
}

.review-item__inner.review-item__inner--answer {
  padding-left: 139px;
  margin-top: 40px;
}

.review-item__avatar {
  margin-right: 25px;
}

.review-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  width: 114px;
  height: 114px;
  border: 2px solid #ea2427;
  border-radius: 50%;
  background: #fff;
}

.review-avatar path {
  fill: url(#user-grad);
}

.review-item__content {
  width: 100%;
}

.review-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.review-item__name {
  font: italic 400 15px "Open Sans", sans-serif;
  color: #a1a1a1;
  margin-right: 20px;
}

.review-item__date {
  font: italic 400 15px "Open Sans", sans-serif;
  color: #d4d4d4;
}

.review-item__text p {
  font: 400 16px "Open Sans", sans-serif;
  color: #000;
  text-align: left;
}

.reviews__pagination {
  max-width: 1024px;
  margin: 60px auto 100px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img,
fieldset,
a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fff;
}

.subtitle {
  font: 300 40px "Open Sans", sans-serif;
  color: #000;
  margin: 0 0 40px;
}

.subtitle--white {
  color: #fff;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 400 20px "Open Sans", sans-serif;
  color: #000;
  margin: 40px 0 40px 35px;
}

.team__title {
  font: 400 25px "Open Sans", sans-serif;
  color: #737373;
  text-transform: uppercase;
  margin: 60px auto 40px;
}

.calc__title {
  font: 400 20px "Open Sans", sans-serif;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.side-overlay__left,
.side-overlay__right {
  position: fixed;
  background: rgba(0, 0, 0, 0.15);
  left: 0;
  top: 0;
  bottom: 0;
  width: calc((100% - 1375px) / 2);
}

.side-overlay__right {
  right: 0;
  left: auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 600 20px "Open Sans", sans-serif;
  color: #fff;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
}

.btn--login {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #ea2427;
  padding: 0 50px;
  -webkit-transition: background 0.2s ease, -webkit-transform 0.2s ease;
  transition: background 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, background 0.2s ease;
  transition: transform 0.2s ease, background 0.2s ease, -webkit-transform 0.2s ease;
}

.btn--login:hover {
  background: #c81316;
}

.btn--login:active {
  background: #990f11;
}

.btn--black {
  height: 55px;
  line-height: 55px;
  border-radius: 0;
  background: #000;
  color: #fff;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn--black:hover {
  background: #1a1919;
}

.btn--black:active {
  background: #ea2427;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn__icon {
  margin-right: 5px;
}

.btn__small {
  display: inline-block;
  font: 600 15px "Open Sans", sans-serif;
  border-radius: 3px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  min-width: 133px;
}

.btn__small:first-of-type {
  margin-right: 10px;
}

.btn__small--red {
  background: #ea2427;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn__small--red:hover {
  background: #c81316;
}

.btn__small--red:active {
  background: #990f11;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.btn__small--black {
  background: #000;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn__small--black:hover {
  background: #3e3e3e;
}

.btn__small--black:active {
  background: #990f11;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.input__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 570px;
  width: 100%;
  margin: 0 35px;
  font-size: 22px;
}

.input--search {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 5px 40px 5px 20px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  font: 400 20px "Open Sans", sans-serif;
  color: #000;
}

.input--search::-webkit-input-placeholder {
  color: #c9c9c9;
}

.input--search:-ms-input-placeholder {
  color: #c9c9c9;
}

.input--search::-ms-input-placeholder {
  color: #c9c9c9;
}

.input--search::placeholder {
  color: #c9c9c9;
}

.input__icon {
  position: absolute;
  right: 10px;
  color: #b1b1b1;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
}

.checkbox-label input:checked ~ .checkbox:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  background: #ea2427;
}

.checkbox {
  display: inline-block;
  position: relative;
  background: #fff;
  width: 18px;
  height: 18px;
  border: 1px solid #bfbfbf;
}

.checkbox-label--auctions {
  margin-bottom: 15px;
}

.checkbox-label--auctions .checkbox {
  margin-right: 15px;
}

.checkbox-label--auctions .checkbox__text {
  font: 700 40px "Open Sans", sans-serif;
  color: #000;
}

.checkbox-label--photo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 55px;
  margin-bottom: 5px;
  padding: 0 15px 0 20px;
  border: 1px solid #979797;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
}

.checkbox-label--photo .checkbox__text {
  font: 300 17px "Open Sans", sans-serif;
  color: #000;
}

.select {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 55px;
  font: 300 22px "Open Sans", sans-serif;
  color: #c9c9c9;
  margin-bottom: 5px;
  padding: 0 20px;
  border: 1px solid #979797;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij4gIDxwYXRoIGZpbGw9IiNDN0M3Q0MiIGQ9Ik0zIDZsNC01IDQgNXpNMTEgOGwtNCA1LTQtNXoiLz48L3N2Zz4=);
}

.select.select--selected {
  color: #000;
  font-weight: normal;
}

.select:last-of-type {
  margin-bottom: 15px;
}

.option {
  color: #000;
}

.input {
  display: inline-block;
  width: 100%;
}

.input--delivery {
  background: #fff;
  color: #000;
  height: 55px;
  font: 600 30px "Open Sans", sans-serif;
  padding: 0 20px;
  border: 1px solid #979797;
  margin: 15px 0 50px;
}

.multiselect__title {
  display: inline-block;
  position: relative;
  font: 300 22px "Open Sans", sans-serif;
  width: 100%;
  height: 55px;
  line-height: 53px;
  color: #c9c9c9;
  margin-bottom: 5px;
  padding: 0 20px;
  border: 1px solid #979797;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  cursor: pointer;
}

.multiselect__title:after {
  content: '';
  position: absolute;
  right: 16px;
  top: 18px;
  border: solid #d9d9d9;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.multiselect__title.multiselect__title--open {
  margin-bottom: 0;
}

.multiselect__title.multiselect__title--open:after {
  border-color: #ea2427;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 24px;
}

.multiselect__title.multiselect__title--selected {
  color: #000;
}

.multiselect__items {
  margin-bottom: 10px;
  border: 1px solid #979797;
  border-top: none;
}

.multiselect__item {
  background: #fff;
}

.multiselect__item:nth-child(odd) {
  background: #f6f6f6;
}

.multiselect__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px 0 20px;
  height: 33px;
  font: 300 19px "Open Sans", sans-serif;
  color: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.multiselect__label input {
  position: absolute;
  opacity: 0;
}

.multiselect__label input:checked ~ .multiselect__checkbox:before {
  background: #ea2427;
}

.multiselect__checkbox {
  display: inline-block;
  position: relative;
  background: #fff;
  width: 18px;
  height: 18px;
  border: 1px solid #bfbfbf;
}

.multiselect__checkbox:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  background: #fff;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.radio__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio__label input {
  position: absolute;
  opacity: 0;
}

.radio__label input:checked ~ .radio__button:before {
  background: #ea2427;
}

.radio__button {
  display: inline-block;
  position: relative;
  background: #fff;
  width: 18px;
  height: 18px;
  border: 1px solid #626262;
  border-radius: 50%;
}

.radio__button:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  background: transparent;
  border-radius: 50%;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.radio__text {
  font: 300 19px "Open Sans", sans-serif;
  color: #000;
}

.textarea {
  width: 100%;
  border: 1px solid #a0a0a0;
  resize: none;
}

nav {
  height: 40px;
  background: #ea2427;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1375px;
  height: 100%;
  margin: 0 auto;
  list-style-type: none;
}

.nav__item {
  height: 100%;
  display: inline-block;
  margin-right: 60px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 400 20px "Open Sans", sans-serif;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav__link:hover {
  color: #000;
}

.nav__link.nav__link--active {
  font-weight: 700;
}

.slider {
  position: relative;
  max-width: 1024px;
  margin: 50px auto 100px;
}

.slider .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
  width: 10px;
  height: 10px;
}

.slider .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ea2427;
}

.slide {
  position: relative;
  display: block;
  height: 175px;
}

.slide:hover .slide__footer:before {
  background: rgba(234, 36, 39, 0.55);
}

.slide__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.slide__footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 20px;
  overflow: hidden;
}

.slide__footer:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  right: 12px;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  background: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.slide__title {
  font: 600 20px "Open Sans", sans-serif;
  color: #fff;
  line-height: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide__text {
  font: 300 14px "Open Sans", sans-serif;
  color: #fff;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider-pagination {
  width: 100%;
  bottom: -45px;
}

.slider-button-next,
.slider-button-prev {
  position: absolute;
  top: 71px;
  right: -40px;
  border: solid #979797;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  cursor: pointer;
}

.slider-button-next.swiper-button-disabled,
.slider-button-prev.swiper-button-disabled {
  cursor: default;
  border-color: #cacaca;
}

.slider-button-next:focus,
.slider-button-prev:focus {
  outline: none;
}

.slider-button-prev {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  left: -40px;
  right: auto;
}

.title__icon--search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #434343;
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  color: #000;
  margin-right: 20px;
}

